body {
  margin: 0;
  background-image: url('./app/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg');
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

